page-call-modal {
background-color: #efeff4;
}

.img-header{
    height: 35px;
    padding: 8px;
}
.call-toolbar{
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
}
.time{
    font-size: 15px;
    color: #999999;
}
.time-value{
    font-size: 20px;
    color: #fb6d07;
    
}
.line{
    height:  1px;
    background-color: #AEAEAE;
}
#records_list{
    margin-top: 6px;
}
.call-modal-img{
    width:11px;
}
.call-phone-number{
    font-size: 16px;
    color:#333333;
}
.call-name{
    font-size: 15px;
    color:#999999;
}
.call-time p{
    font-size: 12px;
    color:#999999;
}