page-messages {

}
 ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
  .badge-unread[item-left]{
    width:14px;
    height: 14px;
    align-self: flex-start;
    margin-top: 15px;
  }
